<div style='position:absolute' id="whole-bg">
  <img class="cloud" id="cloud1" src='./assets/cloudLarge.png'>
  <img class="cloud" id="cloud2" src='./assets/cloudLarge.png'>
  <img class="cloud" id="cloud3" src='./assets/cloudLarge.png'>
  <img class="cloud" id="cloud4" src='./assets/cloudLarge.png'>
  <img class='launch-center-image' id="launch-center-image" src='./assets/spacecenter4.png'>
  <marquee style="position:absolute;top:50px;z-index:-1" scrollamount="4" id="assets-crow"><img src="./assets/crow.gif" width=20></marquee>
</div>
