<div class="smoke smokeC" id="smokeC">
  <span class="s0"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s1"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s2"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s3"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s4"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s5"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s6"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s7"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s8"><img class=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s9"><img class=smokeimg src="./assets/cloudSmall.png"></span>
</div>
<div class="smoke w3-animate-opacity" id="smokeRight">
  <span class="s0"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s1"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s2"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s3"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s4"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s5"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s6"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s7"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s8"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s9"><img id=smokeimg src="./assets/cloudSmall.png"></span>
</div>
<div class="smoke w3-animate-opacity" id="smokeLeft">
  <span class="s0"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s1"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s2"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s3"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s4"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s5"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s6"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s7"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s8"><img id=smokeimg src="./assets/cloudSmall.png"></span>
  <span class="s9"><img id=smokeimg src="./assets/cloudSmall.png"></span>
</div>