<div class="home-main-container">
  <div class="w3-animate-left w3-card-4 home-blue-overlay">
    <h1 style='color:#eee'>Welcome To<b style='color:#fff'> Storm</b> !</h1>
    <p class="w3-medium" style='color:#eee'><b>An Application to simulate your space shuttle travelling trajectory</b></p>
    <br><br><br>
    <div style="text-align:left;font-size:20pt">
      <b>Enter Your Name :</b><br>
      <input class='home-name-textfield w3-input' type="text" placeholder='Name ..' name='name' [(ngModel)]='userName'>
      <div style="text-align:right;margin-top:20px;">
        <a class='button' routerLink='main'>Continue &gt; </a>
      </div>
    </div>
  </div>
</div>